venv311/
.venv311/
*.ipynb
.ipynb_checkpoints/
__pycache__/
*.pyc
streamlit_app/models/*.keras
streamlit_app/models/*.h5
streamlit_app/models/pinn_weights.npy
streamlit_app/data/fault_input.npy
streamlit_app/data/fault_lstm_pred.npy
streamlit_app/data/fault_pinn_pred.npy
streamlit_app/data/fault_true.npy
streamlit_app/data/lstm_predictions.npy
streamlit_app/data/pinn_predictions.npy
report.log
*.log
.DS_Store
Thumbs.db